<app-navbar></app-navbar>
<div class="container">
    <h1 class="animated-text">
        O conhecimento que
        <span class="highlight">você</span>
        precisa <br>na palma da
        <span class="highlight">sua</span>
        mão
    </h1>
    <span class="texto-inicial">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat explicabo totam
        perspiciatis vero est
        reprehenderit qui assumenda beatae aperiam repellendus expedita rem, aut dicta id, iste, odio quos sunt
        fugiat?</span>
    <div class="button-section">
        <app-botao></app-botao>
        <button class="botao">Teste grátis</button>
    </div>
    <!-- <app-carousel></app-carousel> -->
</div>
<div class="second-container">
    <h1 class="animated-text" style="color: var(--black);">
        O conhecimento que
        <span class="highlight">você</span>
        precisa <br>na palma da
        <span class="highlight">sua</span>
        mão
    </h1>
    <span class="texto-inicial" style="color: var(--black);">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Quaerat explicabo totam
        perspiciatis vero est
        reprehenderit qui assumenda beatae aperiam repellendus expedita rem, aut dicta id, iste, odio quos sunt
        fugiat?</span>
    <div class="button-section">
        <app-botao></app-botao>
        <button class="botao">Teste grátis</button>
    </div>
</div>
<app-footer></app-footer>