@import '../../../styles.scss';

.dropdown {
  position: relative;
  display: inline-block;

  .dropdown-toggle {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--color-secondary);

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 28px;
      transition: transform 0.2s ease-in-out;
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-secondary);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
    border-radius: 5px;

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease;

    li {
      padding: 10px 15px;

      a {
        text-decoration: none;
        color: var(--color-primary);
        display: block;
        font-size: 16px;
      }

      &:hover {
        background-color: var(--black);
      }
    }
  }

  &.open {
    .dropdown-toggle {
      img {
        transform: rotate(90deg);
      }
    }

    .dropdown-menu {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }

  // Responsividade
  @media (max-width: 768px) { // Tablets e dispositivos móveis
    .dropdown {
      display: block;
      width: 100%;
    }

    .dropdown-toggle {
      font-size: 18px;
      img {
        width: 24px;
      }
    }

    .dropdown-menu {
      position: static; // Torna o menu fixo abaixo do botão
      width: 100%; // Ocupa toda a largura disponível
      margin-top: 10px;
      border-radius: 0;

      li {
        padding: 10px 5px; // Reduz o padding
        a {
          font-size: 14px; // Texto menor para dispositivos menores
        }
      }
    }
  }

  @media (max-width: 480px) { // Telas muito pequenas
    .dropdown-toggle {
      font-size: 16px;
      img {
        width: 20px;
      }
    }

    .dropdown-menu {
      li {
        padding: 8px 5px;
        a {
          font-size: 12px;
        }
      }
    }
  }
}
